/* ============================
   RESET
============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================
   BODY
============================ */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-bottom: 80px; /* footer ke liye space */
}

/* ============================
   HEADER
============================ */
header {
    background-color: white;
    color: #003399;
    padding: 15px 20px;
    text-align: center;
    border-bottom: 3px solid #003399;
    font-size: 24px;
    font-weight: bold;
}

/* ============================
   SEARCH SECTION
============================ */
.search-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.search-container h2 {
    color: #333;
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cityInput {
    width: 60%;
    padding: 10px 12px;
    border: 2px solid #003399;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

#cityInput:focus {
    border-color: #001f66;
}

.search-box button {
    background-color: #003399;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #002266;
}

/* ============================
   RESULT SECTION
============================ */
.result-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.result-container h2 {
    color: #003399;
    margin-bottom: 10px;
    font-size: 22px;
}

.info-box {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-box p {
    margin: 8px 0;
    font-size: 18px;
}

#loading {
    font-size: 20px;
    margin: 10px 0;
    color: #555;
}

/* ============================
   FOOTER
============================ */
.footer {
    background-color: #003399;
    color: white;
    padding: 12px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 16px;
}
